p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

pre.info {
  background-color: transparent !important;
  font-weight: 500;
}

div.info{
  background-color: cornflowerblue;
  border-radius: .5rem;
  margin: 1rem 0;
  padding: 1rem;
}